class-prefix = "merry";primary-color = #4285f4success-color = #00c851danger-color = #ff4d4finfo-color = #36b1d6warning-color = #ffb928dark-color = #001529gray-color = #d9d9d9font-default-color = rgba(0,0,0,0.75)very-min-font-size = 12pxmin-font-size = 14pxmiddle-font-size = 16pxbig-font-size = 18pxvery-big-font-size = 20pxinput-focus()  outline none  border-color warning-color  box-shadow: 0 0 0 2px rgba(255, 185, 17, 0.23)