@import '../../helpers/stylus.helper.styl';

row = class-prefix + "-row"
col = class-prefix + "-col"

.{row}
  height auto
  overflow hidden
  font-size min-font-size
  width 100%

.{col}
  min-height 30px
  .{col}-spacing-box
    height 100%;
