@import '../../helpers/stylus.helper.styl';

layout = class-prefix + "-layout"
header = class-prefix + "-layout-header"
content = class-prefix + "-layout-content"
footer = class-prefix + "-layout-footer"
aside = class-prefix + "-layout-aside"
has-aside = class-prefix + "-layout-has-aside"

header-height = 64px
footer-height = 64px
aside-width = 240px

.{layout},.{header},.{content},.{footer},.{aside}
  box-sizing border-box

.{layout}
  display flex
  flex-direction column
  height 100%
  &.{has-aside}
    flex-direction row
    > .{layout}
      flex 1
  > .{has-aside}
    flex 1
    flex-direction row

.{header}
  width 100%
  height header-height
  line-height: header-height
  box-shadow: 0 2px 8px #f0f1f2;

.{content}
  flex 1

.{footer}
  width 100%
  height footer-height

.{aside}
  width aside-width
