@import '../../helpers/stylus.helper.styl';

layout = class-prefix + "-layout"
header = class-prefix + "-layout-header"
content = class-prefix + "-layout-content"
footer = class-prefix + "-layout-footer"
aside = class-prefix + "-layout-aside"
has-aside = class-prefix + "-layout-has-aside"


.{layout}
  display flex
  flex-direction column
  height 100%
  &.{has-aside}
    flex-direction row
    > .{layout}
      flex 1
  > .{has-aside}
    flex 1
    flex-direction row

.{header}
  width 100%
  height 64px

.{content}
  flex 1

.{footer}
  width 100%
  height 64px

.{aside}
  width 104px