@import '../../helpers/stylus.helper.styl';

label = class-prefix + "-input-label"
input = class-prefix + "-input"


.{label}
  font-size min-font-size
  vertical-align middle
  color font-default-color