@import '../../helpers/stylus.helper.styl';

menu = class-prefix + '-menu'
sub-menu = class-prefix + '-sub-menu'
menu-item = class-prefix + '-menu-item'

.{menu}
  background orange
  min-height 80px


