@import '../../helpers/stylus.helper.styl';

menu = class-prefix + '-menu'
sub-menu = class-prefix + '-sub-menu'
menu-item = class-prefix + '-menu-item'
font-color = rgba(0,0,0,0.75)

common-hover()
  &:hover
    color primary-color
    transition all .2s

.{sub-menu}-content,.{menu}
  list-style-type none
  padding-inline-start 0


.{menu}
  min-height 80px

.{sub-menu}
  color rgba(0,0,0,0.75)
  font-size 14px
  &.{class-prefix}-active
    > .{sub-menu}-title
      color primary-color
      > .{sub-menu}-arrow
        transform rotate(-180deg)
        color font-color
  .{sub-menu}-title
    display flex
    justify-content space-between
    align-items center
    height 40px
    cursor pointer
    padding-right: 16px;
    common-hover()
    .{sub-menu}-arrow
      font-size 12px
      transition all .2s
  .{sub-menu}-content
    padding: 0

.{menu-item}
  common-hover()
  cursor pointer
  height 40px
  display flex
  justify-content space-between
  align-items center
  padding-right: 16px;
  &.{class-prefix}-active
    background rgba(21, 171, 255, 0.24)
    color primary-color
    border-right 3px solid primary-color
