@import '../../helpers/stylus.helper.styl';
@import './theme.styl'

menu = class-prefix + '-menu'
sub-menu = class-prefix + '-sub-menu'
menu-item = class-prefix + '-menu-item'
item-group = class-prefix + '-menu-item-group'
font-color = rgba(0,0,0,0.85)
white-font-color = rgba(255,255,255,0.75)

common-hover(color)
  &:hover
    color color
    transition all .2s

content-ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.{sub-menu}-content,.{menu}
  list-style-type none
  padding-inline-start 0

.{menu}
  min-height 80px
  width 100%
  margin 0
  overflow hidden

.{sub-menu}
  color font-color
  font-size min-font-size
  &.{class-prefix}-active
    > .{sub-menu}-title
      color primary-color
      > .{sub-menu}-arrow
        transform rotate(-180deg) translate(-50%,50%)
        color font-color
  .{item-group} > .{item-group}-title
    padding-left 25px
  .{sub-menu}-title
    height 40px
    line-height 40px
    cursor pointer
    padding-right 32px
    margin: 4px 0
    position relative
    content-ellipsis()
    common-hover(primary-color)
    .{sub-menu}-arrow
      font-size very-min-font-size
      transition all .2s
      position absolute
      right 16px
      top 50%
      transform translate(50%,-50%)
  .{sub-menu}-content
    padding: 0

.{item-group}
  .{item-group}-title
    font-size 13px
    color rgba(0,0,0,0.5)
    padding 12px 10px
  > ul
    list-style-type none
    padding-inline-start 0

.{menu-item}
  common-hover(primary-color)
  cursor pointer
  height 40px
  line-height 40px
  padding-right 13px
  margin: 4px 0
  box-sizing border-box
  color font-color
  font-size min-font-size
  content-ellipsis()
  &.{class-prefix}-disabled
    color rgba(0,0,0,0.3)
    cursor not-allowed
    common-hover(rgba(0,0,0,0.3))
  &.{class-prefix}-active
    transition all .2s
    background rgba(21, 171, 255, 0.24)
    color primary-color
    border-right 3px solid primary-color

.{menu}.{menu}-theme-blue
  theme(primary-color,white-font-color,rgba(39, 76, 244, 0.59),#274cf4)

.{menu}.{menu}-theme-dark
  theme(dark-color,white-font-color,#0075f4, #0258f4)

